@font-face {
    src: url(../fonts/WixMadeforText-Regular.ttf);
    font-family: 'WixMadeforText';
    font-weight: 400;
}

@font-face {
    src: url(../fonts/WixMadeforText-SemiBold.ttf);
    font-family: 'WixMadeforText';
    font-weight: 600;
}

@font-face {
    src: url(../fonts/WixMadeforDisplay-SemiBold.ttf);
    font-family: 'WixMadeforDisplay';
    font-weight: 600;
}