:root {
    --ff-text-big: 'WixMadeforDisplay';
    --ff-text-regular: 'WixMadeforText';

    --clr-text-primary: #0e0e0e;
    --clr-text-secondary: #fff;
    --clr-background-primary: #f5f5f5;
    --clr-background-secondary: #ebebeb;
    --clr-dark-secondary: #1b1b1b;
    --clr-focus: #cc3340;
}