@import 'reset';
@import 'fonts';
@import 'variables';

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'WixMadeforText', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--clr-text-primary);
    background-color: var(--clr-background-primary);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
}

.btn {
    position: relative;
    &:hover {
        background-color: var(--clr-focus);
        transform: translateY(-2px);
    }
    transition: all .2s;
}

.title {
    font-family: 'WixMadeforDisplay',sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: -0.6px;
}

.section {
    padding: 120px 0;
    &__inner {
        display: grid;
        grid-template-columns: 240px auto;
        align-items: baseline;
    }
    &__pretitle {
        opacity: .6;
    }
}

.scroller {
    padding: 80px 0 72px 0;
    &__list {
        padding: 0 80px;
        display: flex;
        align-items: center;
        overflow-x: auto;
        &::-webkit-scrollbar {
            width: 0;
        }
    }
}

.clients__swiper-slide {
    box-sizing: border-box;
}

.header {
    background-image: url(../images/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--clr-text-secondary);
    background-color: #000;
    &__title {
        max-width: 640px;
        padding: 240px 0 150px 0;
        font-size: 64px;
        line-height: 1.25;
        letter-spacing: -0.96px;
    }
    &__bottom-link {
        position: relative;
        margin-right: 80px;
        padding-left: 26px;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.21px;
        &::before {
            content: url(../images/arrow-down.svg);
            position: absolute;
            top: 0;
            left: 0;
            animation: header-bottom-link .6s infinite alternate;
        }
    }
}

.menu-mobile, .header {
    &__bottom {
        padding: 25px 0;
        display: flex;
        align-items: center;
        border-top: 1px solid var(--clr-text-secondary);
    }
    &__social {
        display: flex;
        gap: 32px;
    }
    &__social-item {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.21px;
        &--mobile {
            display: none;
            padding: 14px 24px;
            background: rgba(27, 27, 27, .3);
            border-radius: 24px;
        }
    }
    &__rights {
        margin-right: auto;
        font-size: 14px;
        line-height: 20px;
    }
}

.menu-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--clr-dark-secondary);
    transform: translateY(-100%);
    & .container {
        height: 100%;
    }
    &__inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__item {
        font-family: 'WixMadeforDisplay', sans-serif;
        font-size: 40px;
        font-weight: 600;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__social-item {
        gap: 12px;
    }
    &--active {
        transform: translateY(0);
    }
    transition: all .3s;
    z-index: 10;
}

@keyframes header-bottom-link {
    from {
        top: -3px;
    }
    to {
        top: 3px;
    }
}

.logo {
    margin-right: 80px;
    display: flex;
    align-items: center;
    &__title {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.24px;
    }
}

.nav {
    padding: 16px 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    line-height: 0.21px;
    &__list {
        margin-right: auto;
        display: flex;
        gap: 32px;
    }
    &__item {
        &:hover {
            font-size: 18px;
        }
        transition: all .3s;
    }
    &__btn {
        padding: 22px 30px;
        background-color: var(--clr-dark-secondary);
        border-radius: 24px;
        &--mobile {
            display: none;
            padding: 10px 20px;
            background-color: var(--clr-dark-secondary);
            border-radius: 24px;
        }
    }
}

.about {
    &__pretitle {
        grid-column: span 2;
    }
    &__info {
        grid-column: 2/3;
    }
    &__info-title {
        max-width: 800px;
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(#0e0e0e, .1);
    }
    &__stats {
        display: flex;
        gap: 80px;
    }
    &__stats-item {
        max-width: 320px;
    }
    &__stats-text {
        font-size: 14px;
        line-height: 20px;
    }
}

.technology-scroller {
    background-color: var(--clr-background-secondary);
    &__list {
        gap: 80px;
    }
}

.portfolio {
    &__info {
        grid-column: span 2;
    }
    &__title {
        margin-bottom: 80px;
    }
    &__item {
        display: flex;
        border: 1px solid rgba(#0e0e0e, .1);
        border-right: none;
        border-top: none;
        &:nth-child(1) {
            border-top: 1px solid rgba(#0e0e0e, .1);
        }
    }
    &__img {
        width: 50%;
    }
    &__item-info {
        padding: 40px 80px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    &__item-title {
        font-size: 32px;
        margin-bottom: 20px;
    }
    &__item-text {
        max-width: 320px;
        margin-bottom: auto;
        margin-left: 80px;
    }
    &__item-bottom {
        display: flex;
        justify-content: space-between;
    }
    &__item-tag {
        color: var(--clr-focus);
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.21px;
    }
    &__all-link {
        position: relative;
        padding: 40px 240px;
        display: block;
        font-size: 40px;
        font-weight: 600;
        line-height: 1.4;
        letter-spacing: -0.6px;
        border-bottom: 1px solid rgba(#0e0e0e, .1);
        &::after {
            content: url(../images/arrow-right.svg);
            position: absolute;
            top: 45px;
            right: 200px;
            transition: all .3s;
        }
        &:hover::after {
            transform: translateX(10px);
        }
    }
}

.development {
    padding: 80px 0;
    background-color: var(--clr-background-secondary);
    &__title {
        max-width: 800px;
        margin-bottom: 50px;
    }
    &__info {
        grid-column: 2/3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
    }
    &__item-title {
        margin-bottom: 8px;
        display: inline-block;
        padding: 12px 24px;
        border: 1px solid #e0e0e0;
        border-radius: 24px;
        opacity: .8;
    }
    &__list {
        margin-right: 80px;
        list-style-type: "– ";
        list-style-position: inside;
    }
    &__list-item {
        opacity: .6;
    }
}

.clients {
    padding: 120px 0 80px 0;
    &__swiper-slide {
        width: 800px;
    }
    &__swiper-slide .container {
        padding: 0;
    }
    &__text {
        font-family: 'WixMadeforDisplay';
        margin-bottom: 40px;
        font-size: 32px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.48px;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
    }
    &__name {
        font-family: 'WixMadeforDisplay';
        font-weight: 600;
    }
    &__swiper-arrows {
        display: flex;
        gap: 8px;
    }
    &__swiper-arrows-item-prev,
    &__swiper-arrows-item-next {
        width: auto;
        margin: 0;
        position: static;
        padding: 14px 24px;
        border: 1px solid #e0e0e0;
        border-radius: 24px;
        &::after {
            font-size: 0;
        }
        &:hover {
            background-color: #e0e0e0;
        }
        transition: all .3s;
    }
    &__swiper-arrows-item-prev {
        &::after {
            content: url(../images/swiper-arrow-left.svg);
        }
    }
    &__swiper-arrows-item-next {
        &::after {
            content: url(../images/swiper-arrow-right.svg);
        }
    }
}

.sponsors-scroller {
    background-color: var(--clr-background-secondary);
    &__list {
        gap: 80px;
    }
    &__item {
        display: block;
    }
    &__img {
        max-width:max-content;
    }
}

.footer {
    padding: 80px 0 0 0;
    background-color: var(--clr-text-primary);
    color: var(--clr-text-secondary);
    &__inner {
        padding-bottom: 80px;
    }
    &__email {
        margin-bottom: 60px;
    }
    &__info {
        grid-column: 2/3;
    }
    &__contacts {
        display: flex;
        gap: 160px;
    }
    &__contacts-item {
        width: 320px;
    }
    &__contacts-title {
        margin-bottom: 8px;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: -0.36px;
    }
    &__contacts-text {
        opacity: .8;
    }
    &__contacts-phone {
        display: inline-block;
        margin-bottom: 8px;
        font-weight: 600;
        letter-spacing: 0.24px;
    }
    &__social {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__social-item {
        font-weight: 600;
        letter-spacing: 0.24px;
        &--mobile {
            display: none;
            padding: 14px 63px;
            background: rgba(27, 27, 27, .3);
            border-radius: 24px;
        }
    }
    &__btn {
        position: relative;
        margin-bottom: 80px;
        display: inline-block;
        width: 100%;
        padding: 72px 0;
        text-align: center;
        background-color: var(--clr-dark-secondary);
        border-radius: 200px;
        overflow: hidden;
    }
    &__bottom {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #323232;
    }
    &__bottom-left {
        display: flex;
    }
    &__logo-title {
        margin-right: 80px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        letter-spacing: 0.24px;
    }
    &__rights {
        margin-right: auto;
        font-size: 14px;
        line-height: 20px;
    }
    &__policy {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        letter-spacing: 0.24px;
    }
}


.hamburger {
    margin-right: 10px;
    display: none;
    flex-direction: column;
    gap: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    & span {
        display: block;
        width: 20px;
        height: 2px;
        background-color: var(--clr-text-secondary);
    }
}

@media (max-width: 1150px) {
    .container {
        padding: 0 64px;
    }
    .scroller__list {
        gap: 64px;
        padding: 0 64px;
    }
    .clients__swiper-slide .container {
        padding: 0 64px;
    }
    .section__inner {
        grid-template-columns: 1fr;
    }
    .section__pretitle {
        display: none;
    }
    .about__info {
        grid-column: span 2;
        margin: 0 auto;
    }
    .development__info {
        grid-column: 1;
    }
    .portfolio .container {
        padding: 0;
    }
    .portfolio__title {
        margin-left: 64px;
    }
    .portfolio__item-text {
        margin-left: 0;
    }
    .clients__swiper-slide {
        width: 100%;
    }
    .clients__text {
        font-size: 24px;
        line-height: 36px;
    }
    .footer__info {
        grid-column: 1;
    }
}

@media (max-width: 880px) {
    .section {
        padding: 64px 0;
    }
    .scroller {
        padding: 72px 0 64px 0;
    }
    .hamburger {
        display: flex;
    }
    .logo {
        margin-right: auto;
    }
    .nav__list {
        display: none;
    }
    .about__info-title {
        margin-bottom: 32px;
        padding-bottom: 32px;
    }
    .portfolio__title {
        margin-bottom: 48px;
    }
    .portfolio__item-info {
        padding: 40px 64px 40px 40px;
    }
    .portfolio__item-title {
        margin-bottom: 16px;
        font-size: 24px;
    }
    .portfolio__all-link {
        display: block;
        width: fit-content;
        margin: 64px auto 0 auto;
        padding: 16px 200px;
        font-size: 16px;
        color: var(--clr-text-secondary);
        background-color: var(--clr-dark-secondary);
        border-radius: 50px;
        &:hover {
            background-color: var(--clr-focus);
            transform: translateY(-2px);
        }
        &::after {
            display: none;
        }
        transition: all .2s;
    }
    .development__title {
        margin-bottom: 48px;
    }
    .footer {
        padding: 64px 0 0 0;
    }
    .footer__contacts {
        justify-content: space-between;
        gap: 0;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 32px;
    }
    .header {
        background-position: right;
    }
    .header__title {
        font-size: 40px;
        padding: 376px 0;
    }
    .header__bottom-link {
        display: none;
    }
    .header, .menu-mobile, .footer {
        &__social {
            gap: 12px;
        }
        &__social-item {
            display: none;
        }
        &__social-item--mobile {
            display: block;
        }
    }
    .footer__social {
        flex-direction: row;
    }
    .footer__contacts-phone {
        margin-bottom: 32px;
    }
    .footer__btn {
        padding: 43px 0;
    }
    .footer__bottom-left {
        flex-direction: column;
    }
}

@media (max-width: 720px) {
    .footer__contacts {
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 600px) {
    .section {
        padding: 56px 0;
    }
    .footer {
        padding: 56px 0 0 0;
    }
    .title {
        font-size: 24px;
    }
    .portfolio__item {
        flex-direction: column;
        border-left: none;
    }
    .portfolio__img {
        width: 100%;
    }
    .portfolio__all-link {
        margin-top: 56px;
        padding: 16px 56px;
    }
    .development__info {
        grid-template-columns: 1fr;
    }
    .footer__bottom {
        flex-direction: column;
        gap: 16px;
    }
}

@media (max-width: 550px) {
    .scroller {
        padding: 64px 0 56px 0;
    }
    .scroller__list {
        gap: 40px;
    }
    .nav__btn {
        display: none;
    }
    .nav__btn--mobile {
        display: block;
    }
    .header__title {
        padding: 248px 0 32px 0;
    }
    .about__info-title {
        margin-bottom: 24px;
        padding-bottom: 24px;
    }
    .about__stats {
        flex-direction: column;
        gap: 24px;
    }
    .clients__text {
        font-size: 20px;
        line-height: 28px;
    }

    .footer__email {
        margin-bottom: 24px;
    }
}

@media (max-width: 500px) {
    .container {
        padding: 0 20px;
    }
    .clients__swiper-slide .container {
        padding: 0 20px;
    }
    .scroller__list {
        padding: 0 20px;
    }
    .menu-mobile__rights, .header__rights {
        font-size: 12px;
    }
    .menu-mobile__social, .header__social {
        gap: 6px;
    }
    .menu-mobile__social-item--mobile, .header__social-item--mobile {
        padding: 10px 12px;
    }
    .portfolio__title {
        margin-left: 20px;
    }
    .portfolio__item-info {
        padding: 24px 20px;
    }
    .development__title {
        margin-bottom: 40px;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 22px;
    }
    .clients__bottom {
        flex-direction: column;
        gap: 24px;
    }
    .swiper-button-prev, .swiper-button-next {
        flex-grow: 1;
    }
    .footer__inner {
        padding-bottom: 40px;
    }
    .footer__social-item--mobile {
        padding: 14px 56px;
    }
    .footer__contacts-item {
        max-width: 280px;
    }
    .footer__btn {
        margin-bottom: 40px;
        padding: 25px 0;
    }
}